

#link {
    display: block;
}

img {
    /* max-width: 200px; */
    /* width: 100%;
    margin-bottom: 40px; */
    height: 200px;
    width: 100%;
}
#find{
    padding: 10px;
}
#search {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    
    /* position: absolute;
    top: 0%;
    right: 0%; */
    
}



#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-bottom: 40px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 30px;
}