.head {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    
    height: 200px;
    width: 100%;
}
#find{
    padding: 10px;
}

#dropdown {
    padding: 10px;
    
}

#dropdownc {
    padding: 10px;
    
}

#drop {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    padding: 10px;
}

#searchbtn {
    padding: 10px;
}

#search {
    display: flex;
    justify-content: center;
    
    /* flex-wrap: wrap; */
    flex-direction: row;
    padding: 10px;
    
    
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-bottom: 40px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 30px;
}